
    <!DOCTYPE html>
    <html lang="es">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Antiguo Testamento - Libros</title>
      <meta name="description" content="Libros del Antiguo Testamento de la Biblia">
      <meta name="keywords" content="Antiguo Testamento, Biblia, Libros">

      <!-- Open Graph / Facebook -->
      <meta property="og:type" content="article">
      <meta property="og:title" content="Antiguo Testamento - Libros">
      <meta property="og:description" content="Libros del Antiguo Testamento de la Biblia">
      <meta property="og:image" content="https://www.liturgiaviva.org/biblia/antiguo-testamento.jpg">
      <meta property="og:url" content="https://www.liturgiaviva.org/biblia/antiguo-testamento">

      <!-- Twitter -->
      <meta name="twitter:card" content="summary_large_image">
      <meta name="twitter:title" content="Antiguo Testamento - Libros">
      <meta name="twitter:description" content="Libros del Antiguo Testamento de la Biblia">
      <meta name="twitter:image" content="https://www.liturgiaviva.org/images/biblia/antiguo-testamento.jpg">

      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
      <link rel="stylesheet" href="/styles/bibliaLibros.css">
      <link rel="stylesheet" href="/styles/common.css">
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
      <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap-switch-button@1.1.0/css/bootstrap-switch-button.min.css" rel="stylesheet">
    </head>
    <body>
        <div id="header-placeholder"></div>
        <div class="container">
            <div>
                <h1>Libros del Antiguo Testamento</h1>
                <a href="/biblia/nuevo-testamento" class="testament-link">Ir al Nuevo Testamento</a>
            </div>
            <div class="search-bar">
                <input type="text" id="book-search" placeholder="Buscar libro...">
            </div>
            <div class="book-grid">
                
                    <div class="book-card" data-type="1" data-order="1" data-url="/biblia/capitulos/genesis-1.html">
                        <h2 class="shortname">Gn</h2>
                        <p class="longname">Génesis</p>
                    </div>
                
                    <div class="book-card" data-type="1" data-order="2" data-url="/biblia/capitulos/exodo-1.html">
                        <h2 class="shortname">Ex</h2>
                        <p class="longname">Éxodo</p>
                    </div>
                
                    <div class="book-card" data-type="1" data-order="3" data-url="/biblia/capitulos/levitico-1.html">
                        <h2 class="shortname">Lv</h2>
                        <p class="longname">Levítico</p>
                    </div>
                
                    <div class="book-card" data-type="1" data-order="4" data-url="/biblia/capitulos/numeros-1.html">
                        <h2 class="shortname">Nm</h2>
                        <p class="longname">Números</p>
                    </div>
                
                    <div class="book-card" data-type="1" data-order="5" data-url="/biblia/capitulos/deuteronomio-1.html">
                        <h2 class="shortname">Dt</h2>
                        <p class="longname">Deuteronomio</p>
                    </div>
                
                    <div class="book-card" data-type="2" data-order="6" data-url="/biblia/capitulos/josue-1.html">
                        <h2 class="shortname">Jos</h2>
                        <p class="longname">Josué</p>
                    </div>
                
                    <div class="book-card" data-type="2" data-order="7" data-url="/biblia/capitulos/jueces-1.html">
                        <h2 class="shortname">Jc</h2>
                        <p class="longname">Jueces</p>
                    </div>
                
                    <div class="book-card" data-type="2" data-order="8" data-url="/biblia/capitulos/libro-1o-de-samuel-1.html">
                        <h2 class="shortname">1 S</h2>
                        <p class="longname">Libro 1º de Samuel</p>
                    </div>
                
                    <div class="book-card" data-type="2" data-order="9" data-url="/biblia/capitulos/libro-2o-de-samuel-1.html">
                        <h2 class="shortname">2 S</h2>
                        <p class="longname">Libro 2º de Samuel</p>
                    </div>
                
                    <div class="book-card" data-type="2" data-order="10" data-url="/biblia/capitulos/primer-libro-de-los-reyes-1.html">
                        <h2 class="shortname">1 R</h2>
                        <p class="longname">Primer libro de los Reyes</p>
                    </div>
                
                    <div class="book-card" data-type="2" data-order="11" data-url="/biblia/capitulos/segundo-libro-de-los-reyes-1.html">
                        <h2 class="shortname">2 R</h2>
                        <p class="longname">Segundo libro de los Reyes</p>
                    </div>
                
                    <div class="book-card" data-type="2" data-order="12" data-url="/biblia/capitulos/primer-libro-de-las-cronicas-1.html">
                        <h2 class="shortname">1 Cro</h2>
                        <p class="longname">Primer libro de las Crónicas</p>
                    </div>
                
                    <div class="book-card" data-type="2" data-order="13" data-url="/biblia/capitulos/segundo-libro-de-las-cronicas-1.html">
                        <h2 class="shortname">2 Cro</h2>
                        <p class="longname">Segundo libro de las Crónicas</p>
                    </div>
                
                    <div class="book-card" data-type="2" data-order="14" data-url="/biblia/capitulos/esdras-1.html">
                        <h2 class="shortname">Esd</h2>
                        <p class="longname">Esdras</p>
                    </div>
                
                    <div class="book-card" data-type="2" data-order="15" data-url="/biblia/capitulos/nehemias-1.html">
                        <h2 class="shortname">Neh</h2>
                        <p class="longname">Nehemías</p>
                    </div>
                
                    <div class="book-card" data-type="2" data-order="16" data-url="/biblia/capitulos/libro-1o-de-los-macabeos-1.html">
                        <h2 class="shortname">1 M</h2>
                        <p class="longname">Libro 1º de los Macabeos</p>
                    </div>
                
                    <div class="book-card" data-type="2" data-order="17" data-url="/biblia/capitulos/libro-2o-de-los-macabeos-1.html">
                        <h2 class="shortname">2 M</h2>
                        <p class="longname">Libro 2º de los Macabeos</p>
                    </div>
                
                    <div class="book-card" data-type="2" data-order="18" data-url="/biblia/capitulos/rut-1.html">
                        <h2 class="shortname">Rt</h2>
                        <p class="longname">Rut</p>
                    </div>
                
                    <div class="book-card" data-type="2" data-order="19" data-url="/biblia/capitulos/tobias-1.html">
                        <h2 class="shortname">Tb</h2>
                        <p class="longname">Tobías</p>
                    </div>
                
                    <div class="book-card" data-type="2" data-order="20" data-url="/biblia/capitulos/judit-1.html">
                        <h2 class="shortname">Jdt</h2>
                        <p class="longname">Judit</p>
                    </div>
                
                    <div class="book-card" data-type="2" data-order="21" data-url="/biblia/capitulos/ester-1.html">
                        <h2 class="shortname">Est</h2>
                        <p class="longname">Ester</p>
                    </div>
                
                    <div class="book-card" data-type="4" data-order="22" data-url="/biblia/capitulos/isaias-1.html">
                        <h2 class="shortname">Is</h2>
                        <p class="longname">Isaías</p>
                    </div>
                
                    <div class="book-card" data-type="4" data-order="23" data-url="/biblia/capitulos/jeremias-1.html">
                        <h2 class="shortname">Jer</h2>
                        <p class="longname">Jeremías</p>
                    </div>
                
                    <div class="book-card" data-type="4" data-order="24" data-url="/biblia/capitulos/ezequiel-1.html">
                        <h2 class="shortname">Ez</h2>
                        <p class="longname">Ezequiel</p>
                    </div>
                
                    <div class="book-card" data-type="4" data-order="25" data-url="/biblia/capitulos/oseas-1.html">
                        <h2 class="shortname">Os</h2>
                        <p class="longname">Oseas</p>
                    </div>
                
                    <div class="book-card" data-type="4" data-order="26" data-url="/biblia/capitulos/joel-1.html">
                        <h2 class="shortname">Jl</h2>
                        <p class="longname">Joel</p>
                    </div>
                
                    <div class="book-card" data-type="4" data-order="27" data-url="/biblia/capitulos/amos-1.html">
                        <h2 class="shortname">Am</h2>
                        <p class="longname">Amós</p>
                    </div>
                
                    <div class="book-card" data-type="4" data-order="28" data-url="/biblia/capitulos/abdias-1.html">
                        <h2 class="shortname">Ab</h2>
                        <p class="longname">Abdías</p>
                    </div>
                
                    <div class="book-card" data-type="4" data-order="29" data-url="/biblia/capitulos/jonas-1.html">
                        <h2 class="shortname">Jon</h2>
                        <p class="longname">Jonás</p>
                    </div>
                
                    <div class="book-card" data-type="4" data-order="30" data-url="/biblia/capitulos/miqueas-1.html">
                        <h2 class="shortname">Miq</h2>
                        <p class="longname">Miqueas</p>
                    </div>
                
                    <div class="book-card" data-type="4" data-order="31" data-url="/biblia/capitulos/nahum-1.html">
                        <h2 class="shortname">Nah</h2>
                        <p class="longname">Nahúm</p>
                    </div>
                
                    <div class="book-card" data-type="4" data-order="32" data-url="/biblia/capitulos/habacuc-1.html">
                        <h2 class="shortname">Hab</h2>
                        <p class="longname">Habacuc</p>
                    </div>
                
                    <div class="book-card" data-type="4" data-order="33" data-url="/biblia/capitulos/sofonias-1.html">
                        <h2 class="shortname">Sof</h2>
                        <p class="longname">Sofonías</p>
                    </div>
                
                    <div class="book-card" data-type="4" data-order="34" data-url="/biblia/capitulos/ageo-1.html">
                        <h2 class="shortname">Ag</h2>
                        <p class="longname">Ageo</p>
                    </div>
                
                    <div class="book-card" data-type="4" data-order="35" data-url="/biblia/capitulos/zacarias-1.html">
                        <h2 class="shortname">Zac</h2>
                        <p class="longname">Zacarías</p>
                    </div>
                
                    <div class="book-card" data-type="4" data-order="36" data-url="/biblia/capitulos/malaquias-1.html">
                        <h2 class="shortname">Mal</h2>
                        <p class="longname">Malaquías</p>
                    </div>
                
                    <div class="book-card" data-type="4" data-order="37" data-url="/biblia/capitulos/daniel-1.html">
                        <h2 class="shortname">Dn</h2>
                        <p class="longname">Daniel</p>
                    </div>
                
                    <div class="book-card" data-type="4" data-order="38" data-url="/biblia/capitulos/baruc-1.html">
                        <h2 class="shortname">Bar</h2>
                        <p class="longname">Baruc</p>
                    </div>
                
                    <div class="book-card" data-type="3" data-order="40" data-url="/biblia/capitulos/salmos-1.html">
                        <h2 class="shortname">Sal</h2>
                        <p class="longname">Salmos</p>
                    </div>
                
                    <div class="book-card" data-type="3" data-order="41" data-url="/biblia/capitulos/cantar-de-los-cantares-1.html">
                        <h2 class="shortname">Ct</h2>
                        <p class="longname">Cantar de los Cantares</p>
                    </div>
                
                    <div class="book-card" data-type="3" data-order="42" data-url="/biblia/capitulos/lamentaciones-1.html">
                        <h2 class="shortname">Lm</h2>
                        <p class="longname">Lamentaciones</p>
                    </div>
                
                    <div class="book-card" data-type="3" data-order="43" data-url="/biblia/capitulos/proverbios-1.html">
                        <h2 class="shortname">Prov</h2>
                        <p class="longname">Proverbios</p>
                    </div>
                
                    <div class="book-card" data-type="3" data-order="44" data-url="/biblia/capitulos/job-1.html">
                        <h2 class="shortname">Jb</h2>
                        <p class="longname">Job</p>
                    </div>
                
                    <div class="book-card" data-type="3" data-order="45" data-url="/biblia/capitulos/eclesiastes-(qohelet)-1.html">
                        <h2 class="shortname">Qo</h2>
                        <p class="longname">Eclesiastés (Qohélet)</p>
                    </div>
                
                    <div class="book-card" data-type="3" data-order="46" data-url="/biblia/capitulos/eclesiastico-(siracida)-1.html">
                        <h2 class="shortname">Si</h2>
                        <p class="longname">Eclesiástico (Sirácida)</p>
                    </div>
                
                    <div class="book-card" data-type="3" data-order="47" data-url="/biblia/capitulos/sabiduria-1.html">
                        <h2 class="shortname">Sab</h2>
                        <p class="longname">Sabiduría</p>
                    </div>
                
            </div>
        </div>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
        <script src="/scripts/common.js"></script>
        <script src="/scripts/bibliaLibros.js"></script>
    </body>
    </html>
    