
    <!DOCTYPE html>
    <html lang="es">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Nuevo Testamento - Libros</title>
      <meta name="description" content="Libros del Nuevo Testamento de la Biblia">
      <meta name="keywords" content="Nuevo Testamento, Biblia, Libros">

      <!-- Open Graph / Facebook -->
      <meta property="og:type" content="article">
      <meta property="og:title" content="Nuevo Testamento - Libros">
      <meta property="og:description" content="Libros del Nuevo Testamento de la Biblia">
      <meta property="og:image" content="https://www.liturgiaviva.org/biblia/nuevo-testamento.jpg">
      <meta property="og:url" content="https://www.liturgiaviva.org/biblia/nuevo-testamento">

      <!-- Twitter -->
      <meta name="twitter:card" content="summary_large_image">
      <meta name="twitter:title" content="Nuevo Testamento - Libros">
      <meta name="twitter:description" content="Libros del Nuevo Testamento de la Biblia">
      <meta name="twitter:image" content="https://www.liturgiaviva.org/images/biblia/nuevo-testamento.jpg">

      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
      <link rel="stylesheet" href="/styles/bibliaLibros.css">
      <link rel="stylesheet" href="/styles/common.css">
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
      <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap-switch-button@1.1.0/css/bootstrap-switch-button.min.css" rel="stylesheet">
    </head>
    <body>
        <div id="header-placeholder"></div>
        <div class="container">
            <div>
                <h1>Libros del Nuevo Testamento</h1>
                <a href="/biblia/antiguo-testamento" class="testament-link">Ir al Antiguo Testamento</a>
            </div>
            <div class="search-bar">
                <input type="text" id="book-search" placeholder="Buscar libro...">
            </div>
            <div class="book-grid">
                
                    <div class="book-card" data-type="6" data-order="48" data-url="/biblia/capitulos/evangelio-segun-san-mateo-1.html">
                        <h2 class="shortname">Mt</h2>
                        <p class="longname">Evangelio según San Mateo</p>
                    </div>
                
                    <div class="book-card" data-type="6" data-order="49" data-url="/biblia/capitulos/evangelio-segun-san-marcos-1.html">
                        <h2 class="shortname">Mc</h2>
                        <p class="longname">Evangelio según San Marcos</p>
                    </div>
                
                    <div class="book-card" data-type="6" data-order="50" data-url="/biblia/capitulos/evangelio-segun-san-lucas-1.html">
                        <h2 class="shortname">Lc</h2>
                        <p class="longname">Evangelio según San Lucas</p>
                    </div>
                
                    <div class="book-card" data-type="6" data-order="51" data-url="/biblia/capitulos/evangelio-segun-san-juan-1.html">
                        <h2 class="shortname">Jn</h2>
                        <p class="longname">Evangelio según San Juan</p>
                    </div>
                
                    <div class="book-card" data-type="5" data-order="66" data-url="/biblia/capitulos/hechos-de-los-apostoles-1.html">
                        <h2 class="shortname">Hch</h2>
                        <p class="longname">Hechos de los Apóstoles</p>
                    </div>
                
                    <div class="book-card" data-type="5" data-order="53" data-url="/biblia/capitulos/epistola-a-los-romanos-1.html">
                        <h2 class="shortname">Rm</h2>
                        <p class="longname">Epístola a los Romanos</p>
                    </div>
                
                    <div class="book-card" data-type="5" data-order="54" data-url="/biblia/capitulos/1a-epistola-a-los-corintios-1.html">
                        <h2 class="shortname">1 Co</h2>
                        <p class="longname">1ª Epístola a los Corintios</p>
                    </div>
                
                    <div class="book-card" data-type="5" data-order="55" data-url="/biblia/capitulos/2a-epistola-a-los-corintios-1.html">
                        <h2 class="shortname">2 Cor</h2>
                        <p class="longname">2ª Epístola a los Corintios</p>
                    </div>
                
                    <div class="book-card" data-type="5" data-order="56" data-url="/biblia/capitulos/epistola-a-los-galatas-1.html">
                        <h2 class="shortname">Ga</h2>
                        <p class="longname">Epístola a los Gálatas</p>
                    </div>
                
                    <div class="book-card" data-type="5" data-order="57" data-url="/biblia/capitulos/epistola-a-los-efesios-1.html">
                        <h2 class="shortname">Ef</h2>
                        <p class="longname">Epístola a los Efesios</p>
                    </div>
                
                    <div class="book-card" data-type="5" data-order="58" data-url="/biblia/capitulos/epistola-a-los-filipenses-1.html">
                        <h2 class="shortname">Flp</h2>
                        <p class="longname">Epístola a los Filipenses</p>
                    </div>
                
                    <div class="book-card" data-type="5" data-order="59" data-url="/biblia/capitulos/epistola-a-los-colosenses-1.html">
                        <h2 class="shortname">Col</h2>
                        <p class="longname">Epístola a los Colosenses</p>
                    </div>
                
                    <div class="book-card" data-type="5" data-order="60" data-url="/biblia/capitulos/1a-epistola-a-los-tesalonicenses-1.html">
                        <h2 class="shortname">1 Tes</h2>
                        <p class="longname">1ª Epístola a los Tesalonicenses</p>
                    </div>
                
                    <div class="book-card" data-type="5" data-order="61" data-url="/biblia/capitulos/2a-epistola-a-los-tesalonicenses-1.html">
                        <h2 class="shortname">2 Tes</h2>
                        <p class="longname">2ª Epístola a los Tesalonicenses</p>
                    </div>
                
                    <div class="book-card" data-type="5" data-order="62" data-url="/biblia/capitulos/1a-epistola-a-timoteo-1.html">
                        <h2 class="shortname">1 Tm</h2>
                        <p class="longname">1ª Epístola a Timoteo</p>
                    </div>
                
                    <div class="book-card" data-type="5" data-order="63" data-url="/biblia/capitulos/2a-epistola-a-timoteo-1.html">
                        <h2 class="shortname">2 Tm</h2>
                        <p class="longname">2ª Epístola a Timoteo</p>
                    </div>
                
                    <div class="book-card" data-type="5" data-order="64" data-url="/biblia/capitulos/epistola-a-tito-1.html">
                        <h2 class="shortname">Tit</h2>
                        <p class="longname">Epístola a Tito</p>
                    </div>
                
                    <div class="book-card" data-type="5" data-order="65" data-url="/biblia/capitulos/epistola-a-filemon-1.html">
                        <h2 class="shortname">Flm</h2>
                        <p class="longname">Epístola a Filemón</p>
                    </div>
                
                    <div class="book-card" data-type="5" data-order="52" data-url="/biblia/capitulos/epistola-a-los-hebreos-1.html">
                        <h2 class="shortname">Heb</h2>
                        <p class="longname">Epístola a los Hebreos</p>
                    </div>
                
                    <div class="book-card" data-type="5" data-order="67" data-url="/biblia/capitulos/epistola-de-santiago-1.html">
                        <h2 class="shortname">St</h2>
                        <p class="longname">Epístola de Santiago</p>
                    </div>
                
                    <div class="book-card" data-type="5" data-order="68" data-url="/biblia/capitulos/1a-epistola-de-san-pedro-1.html">
                        <h2 class="shortname">1 Pe</h2>
                        <p class="longname">1ª Epístola de San Pedro</p>
                    </div>
                
                    <div class="book-card" data-type="5" data-order="69" data-url="/biblia/capitulos/2a-epistola-de-san-pedro-1.html">
                        <h2 class="shortname">2 Pe</h2>
                        <p class="longname">2ª Epístola de San Pedro</p>
                    </div>
                
                    <div class="book-card" data-type="5" data-order="70" data-url="/biblia/capitulos/1a-epistola-de-san-juan-1.html">
                        <h2 class="shortname">1 Jn</h2>
                        <p class="longname">1ª Epístola de San Juan</p>
                    </div>
                
                    <div class="book-card" data-type="5" data-order="71" data-url="/biblia/capitulos/2a-epistola-de-san-juan-1.html">
                        <h2 class="shortname">2 Jn</h2>
                        <p class="longname">2ª Epístola de San Juan</p>
                    </div>
                
                    <div class="book-card" data-type="5" data-order="72" data-url="/biblia/capitulos/3a-epistola-de-san-juan-1.html">
                        <h2 class="shortname">3 Jn</h2>
                        <p class="longname">3ª Epístola de San Juan</p>
                    </div>
                
                    <div class="book-card" data-type="5" data-order="73" data-url="/biblia/capitulos/epistola-de-san-judas-1.html">
                        <h2 class="shortname">Judas</h2>
                        <p class="longname">Epístola de San Judas</p>
                    </div>
                
                    <div class="book-card" data-type="5" data-order="74" data-url="/biblia/capitulos/apocalipsis-1.html">
                        <h2 class="shortname">Ap</h2>
                        <p class="longname">Apocalipsis</p>
                    </div>
                
            </div>
        </div>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
        <script src="/scripts/common.js"></script>
        <script src="/scripts/bibliaLibros.js"></script>
    </body>
    </html>
    