<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Verificado</title>
    <link rel="stylesheet" href="/styles/verifyEmailSuccess.css">
</head>
<body>
    <div class="container">
        <img src="/images/logo-completo-fondo-claro_V.png" alt="Liturgia Viva">
        <h1>¡Tu email ha sido verificado correctamente!</h1>
        <p>Muchas gracias por verificar tu correo electrónico.</p>
        <p>Serás redirigido a la página de inicio en unos segundos.</p>
        <p>Si no eres redirigido automáticamente, <a href="/">haz clic aquí</a>.</p>
    </div>
    <script>
      setTimeout(() => {
          window.location.href = '/login';
      }, 5000); // Redirige después de 5 segundos
  </script>
</body>
</html>