body {
  font-family: Arial, sans-serif;
}

.container {
  padding: 20px;
}

#chapter-text {
  display: block;
  line-height: 1.6;
  text-align: justify;
}

#chapter-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 900;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%; /* Ajustar el ancho según prefieras */
  max-width: 1250px; /* Limitar el ancho máximo para pantallas grandes */
  box-shadow: 0 2px rgb(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  box-shadow: 0 2px rgb(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

#chapter-header.scrolled {
  padding: 5px 0;
  background-color: white;
}

#chapter-header.scrolled h1 {
  font-size: 2rem;
  padding: 5px 0;
  margin: 5px 0;
}

#chapter-text {
  padding-top: 120px;
}

#chapter-text span {
  white-space: pre-wrap;
  word-break: normal; /* Permite que las palabras largas se rompan al final de la línea */
  line-height: 1.6;
}

.versiculo {
  display: inline;
  margin: 0;
  cursor: pointer;
}

.versiculo:hover {
  background-color: rgb(219, 254, 242);
}

.num-versiculo {
  display: inline;
  margin: 0; 
  color: #138275;
  font-size: small;
}

.num-versiculo::after {
  content: "\00a0"; /* Añade un espacio después del número del versículo */
}

.navigation {
  margin-top: 20px;
  text-align: center;
}

.navigation .btn {
  margin: 0 10px;
}

#toggleVersiculos {
  margin-left: 10px;
}

#content-comments-container {
  display: flex;
}

/* Estilos para el panel de comentarios */
.comment-panel {
  right: 0;
  top: 60px;
  width: 400px;
  background-color: #f8f9fa;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  padding: 15px;
  z-index: 999;
  border-left: 1px solid #ccc;
  height: calc(100vh - 120px);
  position: fixed;
}

#selected-verses {
  max-height: 200px;
  overflow-y: auto;
  margin-bottom: 15px;
}

#selected-verses .verse-card {
  padding: 8px;
  background-color: #e9ecef;
  border-radius: 5px;
  margin-bottom: 5px;
  font-size: 0.9em;
}

#selected-verses .verse-card:hover {
  background-color: #ced4da;
}

#add-comment-button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

#comment-box {
  margin-top: 20px;
}

#comment-status {
  display: block;
  margin-top: 10px;
  font-size: 0.9em;
}

@media (max-width: 768px) {
  #chapter-content {
      justify-content: flex-start; /* En pantallas pequeñas, alinear al inicio */
  }

  #chapter-header {
    padding: 0;
    margin: 0;
  }

  #chapter-header h1 {
    font-size: 2rem;
    padding: 7px;
    margin: 7px;
  }

  #chapter-header.scrolled {
    padding: 5px 0;
    background-color: white;
  }
  
  #chapter-header.scrolled h1 {
    font-size: 2rem;
    padding: 5px 0;
    margin: 5px 0;
  }

  #chapter-text {
    padding-top: 80px;
  }
}