#chapter-text {
  display: block;
  line-height: 1.6;
  text-align: justify;
}

#chapter-header {
  display: flex;
  justify-content: space-between;
  background-color: white;
  align-items: center;
  position: fixed;
  z-index: 1200;
  top: 65px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%; /* Ajustar el ancho según prefieras */
  box-shadow: 0 2px rgb(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  background-color: white;
  padding: 6px;
  border-bottom: 2px solid #138275; /* Color de borde inferior */
  padding-top: 14px;
}

#chapter-header h1 {
  margin-left: 40px;
}

#chapter-header .switch {
  margin-right: 40px;
}

#chapter-text {
  margin-top: 130px;
  margin-bottom: 30px;
  padding: 20px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

#chapter-text span {
  white-space: normal;
  word-break: normal; /* Permite que las palabras largas se rompan al final de la línea */
  line-height: 1.6;
}

.versiculo {
  display: inline;
  margin: 0;
  cursor: pointer;
}

.versiculo:hover {
  background-color: rgb(219, 254, 242);
}

.num-versiculo {
  display: inline;
  margin: 0; 
  color: #138275;
  font-size: small;
}

.num-versiculo::after {
  content: "\00a0"; /* Añade un espacio después del número del versículo */
}

#toggleVersiculos {
  margin-left: 10px;
  display: inline;
}

#content-comments-container {
  display: flex;
  position: relative;
  width: 100%;
  box-sizing: border-box;
}

#chapter-content {
  flex: 1;
  padding-right: 15px;
  transition: margin-right 0.3s, margin-bottom 0.3s ease-in-out;
}

/* Estilos para el panel de comentarios */
.comment-panel {
  right: 0;
  top: 60px;
  width: 400px;
  background-color: #f8f9fa;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  padding: 15px;
  z-index: 1500;
  border-left: 1px solid #ccc;
  height: 100%;
  position: fixed;
  visibility: hidden; /* Usamos visibility para ocultar y mostrar el panel */
  opacity: 0; /* Inicialmente oculto */
  transition: visibility 0.3s, opacity 0.3s ease-in-out;
}

/* Clase adicional para cuando el panel de comentarios está activo */
#content-comments-container.comment-panel-active #chapter-content {
  margin-right: 400px; /* El margen debe ser igual al ancho del panel de comentarios */
}

#content-comments-container.comment-panel-active #comment-panel {
  visibility: visible; /* Mostrar el panel de comentarios */
  opacity: 1; /* Aplicar opacidad completa */
}

#selected-verses {
  max-height: 600px;
  overflow-y: auto;
  margin-bottom: 15px;
}

#selected-verses .verse-card {
  padding: 8px;
  background-color: #e9ecef;
  border-radius: 5px;
  margin-bottom: 5px;
  font-size: 0.9em;
  cursor: pointer;
}

#selected-verses .verse-card:hover {
  background-color: #ced4da;
}

#comment-buttons {
  display: block;
}

#add-comment-button {
  margin-bottom: 8px;
  width: 100%;
}

#cancel-comment-button {
  margin-bottom: 8px;
  width: 100%;
}

.versiculo.highlighted {
  background-color: #ffffcc;
  border-left: 3px solid #138275;
}

.comment-card {
  margin-left: 20px;
  padding: 10px;
  background-color: #f9f9f9;
  border-left: 2px solid #138275;
  border-radius: 5px;
  margin-top: 5px;
}

#save-comment-button {
  margin-bottom: 8px;
  width: 100%;
}

#add-comment-button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

#comment-status {
  display: block;
  margin-top: 10px;
  font-size: 0.9em;
}

.navigation {
  display: flex;
  text-align: center;
  position: fixed;
  flex-wrap: wrap;
  bottom: 0;
  z-index: 999;
  background-color: white;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  border-top: 1px solid #ccc;
  box-shadow: 0 -2px rgba(0, 0, 0, 0.1);
}

.navigation .btn {
  margin: 0 10px;
}

#prev-chapter, #next-chapter {
  background-color: #138275;
  border-color: #138275;
}

.chapter-navigation {
  max-width: 250px;
  overflow-x: scroll;
  display: flex;
  scrollbar-width: none;
}

.chapter-navigation .current-chapter {
  background-color: lightcoral;
  border-color: lightcoral;
  color: white;
  font-weight: bold;
}

#mensaje-comentarios {
  display: none; /* Oculto por defecto */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8); /* Fondo semitransparente */
  color: white;
  padding: 20px;
  border-radius: 8px;
  z-index: 1000;
  text-align: center;
  max-width: 80%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: opacity 0.5s ease-in-out;
  cursor: pointer;
}

#mensaje-comentarios p {
  margin: 0;
}

@media (max-width: 768px) {
  #chapter-content {
    justify-content: flex-start; /* En pantallas pequeñas, alinear al inicio */
  }

  #chapter-header {
    padding: 0 12px 0 5px;
    margin: 0;
    top: 60px;
    width: 100%;
  }

  #chapter-header h1 {
    font-size: 1.5rem;
    padding: 7px;
    margin: 7px;
    transform: translateY(3.5px);
  }

  input#buscador-menu {
    width: 250px !important;
    margin-right: 10px;
    margin-top: 10px;
  }
  
  #chapter-text {
    padding-top: 40px;
  }

  .comment-panel {
    bottom: 0;
    right: 0;
    top: auto;
    width: 100%;
    background-color: #f8f9fa;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    padding: 15px;
    z-index: 1500;
    border-top: 1px solid #ccc;
    height: auto;
    position: fixed;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s, opacity 0.3s ease-in-out;
  }

  #content-comments-container.comment-panel-active #chapter-content {
    margin-bottom: 450px; /* El margen debe ser igual al ancho del panel de comentarios */
    margin-right: auto;
  }

  #content-comments-container.comment-panel-active #comment-panel {
    visibility: visible; /* Mostrar el panel de comentarios */
    opacity: 1; /* Aplicar opacidad completa */
  }

  .switch label {
    transform: translateY(7px);
  }

  #selected-verses {
    max-height: 300px;
  }

}

@media only screen and (min-width: 1440px) {
  #content-comments-container.comment-panel-active #chapter-content {
    margin-right: auto;
  }
}