main {
  padding-top: 120px; /* Ajustar según la altura del header cargado dinámicamente */
}

.logo-simple-fondo-oscuro {
  padding: 2px 2px;
  margin: 0px 0px;
  color: white;
  height: 40px;
}

#header-placeholder {
  position: sticky;
  color: white;
  top: 0;
  z-index: 1500; /* Mantener el header encima de otros elementos */
  background-color: #138275;
  width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 0;
  margin: 0;
}

/* General */
.navbar-brand img {
  height: 40px !important;
}

.btn-primary {
  background-color: #138275;
  border-color: #138275;
}

.btn-primary:hover {
  background-color: lightseagreen;
  border-color: lightseagreen;
}

.btn-primary:focus {
  color: white;
  background-color: lightseagreen;
  border-color: lightseagreen;
  box-shadow: none;
}

.btn-success {
  background-color: #138275;
  border-color: #138275;
}

.btn-success:hover {
  background-color: #138275;
  border-color: #138275;
}

li.nav-item {
  padding-right: 0.8rem;
}

input#buscador-menu {
  width: 300px;
  font-size: smaller;
  height: 35px;
}

.dropdown-item {
  padding: 0.5rem 1.5rem;
}

@media (max-width: 768px) {
  .form-inline .form-control {
      width: 100%;
      margin-bottom: 10px;
  }
}

/* Dropdown Menus */
.navbar-nav .dropdown-menu {
  background-color: #138275;
  border: none;
}

.navbar-nav .dropdown-item {
  color: white;
  transition: background-color 0.3s ease;
}

.navbar-nav .dropdown-item:hover {
  background-color: #0f655b;
}

/* Login / Mi Cuenta */
.navbar-nav .nav-item .nav-link {
  color: white;
  transition: color 0.3s ease;
}

.navbar-nav .nav-item .nav-link:hover {
  color: #f1f1f1;
}

/* Responsive */
@media (max-width: 768px) {
  .navbar-nav .nav-item {
      margin-bottom: 10px;
  }

  .navbar-nav {
    align-items: self-start;
  }

  .navbar-nav .nav-item .nav-link {
    text-align: left !important;
  }
}
