<header>
    <nav class="navbar navbar-expand-lg" style="background-color: #138275;">
        <a class="navbar-brand" href="/">
            <img class="logo-completo-fondo-oscuro-H" src="/images/logo-completo-fondo-oscuro_H.png" alt="Logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"><i class="fa fa-bars" aria-hidden="true" style="color:#ffffff; transform: translateY(5px);"></i></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <!-- Buscador de recursos -->
                <li class="nav-item">
                    <form class="form-inline my-2 my-lg-0" action="/recursos-liturgicos/buscador" method="GET">
                        <input id="buscador-menu" class="form-control mr-sm-2" type="search" placeholder="Busca lecturas, canciones, textos de apoyo..." name="busqueda" aria-label="Search">
                        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Buscar</button>
                    </form>
                </li>

                <!-- Recursos litúrgicos -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="recursosDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Recursos litúrgicos
                    </a>
                    <div class="dropdown-menu" aria-labelledby="recursosDropdown">
                        <a class="dropdown-item" href="/recursos-liturgicos/lecturas">Lecturas</a>
                        <a class="dropdown-item" href="/recursos-liturgicos/canciones">Canciones</a>
                        <a class="dropdown-item" href="/recrusos-liturgicos/textos-de-apoyo">Textos de apoyo</a>
                        <a class="dropdown-item" href="/recursos-liturgicos/imagenes">Imágenes</a>
                    </div>
                </li>

                <!-- Biblia -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="bibliaDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Biblia
                    </a>
                    <div class="dropdown-menu" aria-labelledby="bibliaDropdown">
                        <a class="dropdown-item" href="/biblia/antiguo-testamento">Antiguo Testamento</a>
                        <a class="dropdown-item" href="/biblia/nuevo-testamento">Nuevo Testamento</a>
                    </div>
                </li>

                <!-- Lecturas del día -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="lecturasDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Lecturas del día
                    </a>
                    <div class="dropdown-menu" aria-labelledby="lecturasDropdown">
                        <a class="dropdown-item" href="/">Lecturas de hoy</a>
                        <a class="dropdown-item" href="/lecturas-del-domingo">Lecturas del domingo</a>
                        <a class="dropdown-item" href="/calendario">Calendario</a>
                    </div>
                </li>

                <!-- Ir a misa -->
                <li class="nav-item">
                    <a class="nav-link text-white" href="/ir-a-misa">Ir a misa</a>
                </li>

                <!-- Login o Mi Cuenta -->
                <li class="nav-item">
                    <a class="nav-link text-white" id="login-button" href="/login">Login</a> <!-- O "Mi cuenta" según el estado de autenticación -->
                </li>
            </ul>
        </div>
    </nav>
</header>